# Review of patientes

Check the number of patientes with T45, TSPIDER or both.

In [6]:
import pandas as pd
import numpy as np
df = pd.read_excel('/srv/datos/REVISION_PACIENTES_TORTUOSIDAD.xlsx', skiprows=0, sheet_name='Hoja1')

In [7]:
df.rename(columns={'ID PACIENTE':'IdPaciente', 'T 45+SPIDER':'T45+SPIDER',
                  'NO TORTUOSO':'NoTortuoso'}, inplace=True)
df.head(3)

  IdPaciente  T45+SPIDER  T45  TSPIDER  NoTortuoso
0       1639           0    0        1           0
1       1647           0    0        1           0
2       1663           1    1        1           0

In [9]:
df.sum(axis=0) # tenemos un paciente extra TSPIDER?

T45+SPIDER     52
T45            55
TSPIDER       198
NoTortuoso    205
dtype: int64

In [10]:
df[df.IdPaciente=='5567'] # paciente que falta

Empty DataFrame
Columns: [IdPaciente, T45+SPIDER, T45, TSPIDER, NoTortuoso]
Index: []

In [5]:
df.sum(axis=0) # old

T45+SPIDER     52
T45            55
TSPIDER       197
NoTortuoso    205
dtype: int64